.c1 {
    height: 600px;
    font-size: 20px;
    font-weight: 600;
}
.border1 {
    position: relative;
    margin: 10vh 100vh 0 20vh ;
    border-top: 5px solid #006600;
}
.border2 {
    margin: 10vh 20vh 10vh 100vh;
    border-bottom: 5px solid #006600;
}
.content {
    position: relative;
    font-family: Montserrat;
    text-align: center;
    color: #006600;
    font-size: 70px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow: hidden;
    
}

.content > div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.main {
    animation: appear 6s infinite;
}

.title {
    animation: reveal 6s infinite;
}

.title span {
    font-size: 65px;
    color: #808000;
    animation: slide 6s infinite;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        margin-left: -700px;
    }

    20% {
        margin-left: -700px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 655px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 655px;
    }
}

.l1 {
  margin-left: 29%;
  line-height: 2rem;
}
.buttons {
    justify-content: center;
    margin: 10vh 20vh 0 20vh;
    display: flex;;
}

.btn1 > button{
   background-color: #006600;
   color: #fff;
   border: none;
   padding: 15px 10px;
   border-radius: 0.3rem;
   font-weight: 600;
   margin-right: 1vh;
}
.btn2 > button{
    display: flex;
    background-color: #808000;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 0.3rem;
    font-weight: 600;
}
button > img {
    padding-left: 10px;
    background-color: #808000;
   height: 16px;
   width: 20px;
}