.header {
    color: black;
    border: 1px solid #e5e7eb;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7F7F7;
    
}

.profile {
    margin-left: 50px;
    background-color: #F7F7F7;
}

.profile-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.connect {
    display: flex;
    position: relative;
    left: 700px;
    background-color: #F7F7F7;
      
}
.connect-title {
    background-color: #F7F7F7;
}
.connect-title > a {
    font-size: 20px;
    text-decoration: none;
    background-color: #F7F7F7;
    margin: 0 20px;
    color: #808000;
}





