.header {
    color: black;
    border: 1px solid #e5e7eb;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7F7F7;
}

.profile {

    background-color: #F7F7F7;
}

.profile-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}


.heading {
    display: inline-block;
    background-color: #F7F7F7; 
}

.dots {
    transform: translate(-50% -50%);
    display: flex;
}

.dots .dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 20px;
    background-color: #F7F7F7;
}

@keyframes codebeauty {
    to{
        transform: translateY(-20px);
    }
}

.dots .dot.blue {
    background: #4285f4;
    animation: codebeauty .5s ease-in-out infinite alternate forwards;
    animation-delay: 0s;
    
}
.dots .dot.red {
    background: tomato;
    animation: codebeauty .5s ease-in-out infinite alternate forwards;
    animation-delay: 0s;
}
.dots .dot.yellow {
    background: yellow;
    animation: codebeauty .5s ease-in-out infinite alternate forwards;
    animation-delay: 0s;
}
.dots .dot.green {
    background: green;
    animation: codebeauty .5s ease-in-out infinite alternate forwards;
    animation-delay: 0s;
}



.connect {
    display: flex;
    position: relative;
    left: 850px;
    background-color: #F7F7F7;

}

.connect img {
    height: 40px;
    width: 40px;
    background-color: #F7F7F7;
}

.connect>div {
    margin: 5px 19px;
    background-color: #F7F7F7;
}

.connect a {
    background-color: #F7F7F7;
}